<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict/>
	<key>Lat Capt Human-Standing0001.png</key>
	<dict/>
	<key>frame</key>
	<string>{{0,0},{134,299}}</string>
	<key>offset</key>
	<string></string>
</dict>
</plist>
