<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{29,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>Bread.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,33},{27,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>Broccoli.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{33,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>Chicken.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,33},{28,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>Energy Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,406}}</string>
                <key>offset</key>
                <string>{-50,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,406}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{23,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0962edfe2f67d4ecd774c1740a5d265:1/1$</string>
            <key>textureFileName</key>
            <string>e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
